* {
    box-sizing: border-box;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #ed1c24;
}

html {
    height: 100%;
}

body {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: 'Raleway';
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.light-grey-font {
    color: #D3D3D3;
}

.red-font {
    color: #ff5252;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;

    background-image: url(../images/guitarrist.jpeg);
    background-size: cover;
    background-position: 50% 0;

    -webkit-filter: blur(5px);
    filter: blur(5px);
    filter: alpha(Opacity=20);

    transform: scale(1.03);
}

#navbar-main {
    background: rgba(0,0,0,0.6);
    border: none;
}

