#div-suggestions {
    margin: auto;
}

#div-suggestions h3{
    text-align: center;
    display: block;
    font-size: 40px;
    margin-bottom: 1em;
}

#div-suggestions iframe {
    display: block;
    margin: auto;
}

#suggestions-carousel {
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
}

.iframe-suggestion {
    width: 600px;
    height: 450px;
}

#plus-sign-inquiry-suggestions-title {
    font-size: 0.8em;
    top: 0.20em;
    left: 0.25em;
}

#plus-sign-inquiry-suggestions-title:hover {
    cursor: pointer;
}

#no-suggestions-message {
    position: relative;
    top: 5em;
    text-align: center;
    color: #d1d1e0;
    font-size: 2em;
}

#suggestion-form-modal .modal-header,
#youtube-url-form-modal .modal-header {
    text-align: center;
    border-bottom-color: #5d6166;
}

#suggestion-form-modal .modal-title,
#youtube-url-form-modal .modal-title {
    font-weight: 900;
}

#suggestion-form-modal .modal-footer,
#youtube-url-form-modal .modal-footer {
    border-top-color: #5d6166;
}

#youtube-url-not-valid-message {
    display: inline;
    margin-left: 1em;
}

#suggestion-input-youtube-url {
    width: 25em;
}
