{% extends 'music_inquiries/base.html' %}

{% load static %}

{% block content %}

<form action="{% url 'music_inquiries:inquiry_resource' %}" method="post" id="inquiry-form">
  {% csrf_token %}
  <input id="inquiry-text-input" type="text" name="inquiry_text" placeholder="What kind of music are you looking for?" class="light-grey-font" maxlength="80" autocomplete="off">
  {% if user.is_authenticated %}
    <input id="inquiry-submit-form-button" class="btn btn-default" type="submit" value="Ask for Suggestions" disabled>
  {% else %}
    <a id="inquiry-submit-form-button" class="button btn btn-default" href="{% url 'login'%}?next={{request.path}}" disabled>Login to Ask for Suggestions</a>
  {% endif %}

</form>

<div class="modal fade feedback-modal" id="repeated-inquiry-modal" tabindex="-1" role="dialog" aria-labelledby="feedback-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content dark-background">
      <div class="modal-body">
        <h4>That inquiry was already submitted!</h4>
      </div>
    </div>
  </div>
</div>

<div class="modal fade feedback-modal" id="success-inquiry-modal" tabindex="-1" role="dialog" aria-labelledby="feedback-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content dark-background">
      <div class="modal-body">
        <h4>Inquiry was successfully submitted!</h4>
      </div>
    </div>
  </div>
</div>


{% endblock %}

{% block specific_scripts %}
  <script src="{% static 'music_inquiries/js/index.js' %}"></script>
{% endblock %}
