{% extends 'music_inquiries/base.html' %}

{% block content %}

<div id="div-suggestions">
  <div>
    <h3 class="light-grey-font">{{ inquiry.text }}<span id="plus-sign-inquiry-suggestions-title" class="glyphicon glyphicon-plus-sign red-font" aria-hidden="true" data-toggle="modal" data-target="#myModal"/></h3>
  </div>

  {% if suggestions %}

    <div id="suggestions-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
      <div class="carousel-inner" role="listbox">

        {% for suggestion in suggestions %}
          {% if forloop.counter0 == 0 %}
            <div class="item active">
          {% else %}
            <div class="item">
          {% endif %}
              <iframe class="iframe-suggestion" src="{{ suggestion.song.youtube_url }}" frameborder="0" allowfullscreen></iframe>
            </div>
        {% endfor %}
      </div>

      <a class="left carousel-control suggestions-carousel-control" href="#suggestions-carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control suggestions-carousel-control" href="#suggestions-carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

  {% else %}
    <div id='no-suggestions-message'>
      No suggestions yet. Be the first to add one!
    </div>
  {% endif %}

</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Make Song Suggestion</h4>
      </div>
      <div class="modal-body">
        <form action="{% url 'music_inquiries:suggestion_resource' inquiry.id %}" method="post" id="submit-suggestion-form">
          {% csrf_token %}
          <input type="text" placeholder="Song Artist" name="artist_name"/>
          <input type="text" placeholder="Song Name" name="song_name"/>
          <input type="text" placeholder="Youtube URL" name="youtube_url"/>
          <input type="submit" value="Submit">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block specific_scripts %}
  <script src="../../static/music_inquiries/js/inquiry.js"></script>
{% endblock %}
