{% extends 'music_inquiries/base.html' %}

{% load static %}

{% block content %}

<div class='container'>

  <input type="text" class="form-control" id="search-inquiry-input" placeholder="Search for an Inquiry">

  <ul id='inquiry_listing'>
    {% for inquiry in inquiries %}
      <li class='inquiry_listing_entry'>
        <a class='inquiry_listing_entry_link' href="{% url 'music_inquiries:inquiry' inquiry.id %}">{{ inquiry.text }}</a>
        <div class='inquiry_listing_entry_number_suggestions'>{{ inquiry.get_number_active_suggestions }} Suggestions</div>
      </li>
    {% endfor %}
  </ul>
</div>

{% endblock %}

{% block specific_scripts %}
  <script src="{% static 'music_inquiries/js/inquiries_listing.js' %}"></script>
{% endblock %}
